{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
    <img src= "{{asset('build/Wallpaper.jpg')}}" alt="Background image">
    <img src="{{ asset('build/images/logo.jpeg') }}" alt="empire chase premier logo">
    <h1>{{controller_name}}</h1>
    <p class="important">
        {{controller_name}}
    </p>
{% endblock %}